BasedOnStyle: LLVM
Standard: c++17
ColumnLimit: 80
UseTab: Never
UseCRLF: false
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
BinPackArguments: false
AllowAllArgumentsOnNextLine: true
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
BitFieldColonSpacing: Both
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: AfterColon
ContinuationIndentWidth: 2
DerivePointerAlignment: true
FixNamespaceComments: true
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 2
SortIncludes: true
SpaceBeforeParens: Never
SpacesInAngles: Always
SpacesInParentheses: true
SpacesInSquareBrackets: false
SpacesInConditionalStatement: true
SpacesInCStyleCastParentheses: false
SpaceInEmptyParentheses: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCaseColon: false
SpaceBeforeAssignmentOperators: true
SpaceAfterTemplateKeyword: false
SpaceAfterLogicalNot: false
SpaceAfterCStyleCast: true
SpaceAroundPointerQualifiers: Default
PointerAlignment: Left
InsertTrailingCommas: Wrapped
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBinaryOperators: false
BreakBeforeTernaryOperators: false
AlignOperands: Align
ReflowComments: false
SeparateDefinitionBlocks: Always
EmptyLineBeforeAccessModifier: LogicalBlock
